/*GENERAL*******************************************************************************************************************************************************************/
:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --bg-color: #423643;
  --bg-color2: #b40a86;
  --bg-color3:#F19394;
  --bg-color4:#BC6567;
  --gray-color: #aaa;
  --border-radius-gen: 20px;
  --box-shadow-gen: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  --max-width: 100%;
  --max-height: 100%;
  --text-shadow-gen: 0.04em 0.04em 0 rgba(0, 0, 0, 0.5);
}
* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--bg-color);
}
.unstyled-list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/*HEADER*************************************************************************************************************************************************************/
#top {
  background-attachment: scroll, scroll, fixed;
  background-image: url("../images/top-3200.svg"), url("../images/overlay.png"), url("../images/header.jpg");
  background-position: bottom center, top left, center center;
  background-repeat: repeat-x, repeat, no-repeat;
  background-size: 3200px 460px, auto, cover;
  color: rgba(255, 255, 255, 0.8);
  padding: 10em 0 20em 0;
}
.logo{
  fill:var(--bg-color);
  stroke: var(--white-color);
}
.navbar-default {
  background-color:#423643;
  border-bottom: 1px solid var(--white-color);
  box-shadow: var(--box-shadow-gen);
}
.navbar-menu .nav-link,
.navbar-icon .nav-link {
  background-color: var(--white-color);  
  padding: 5px 0; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  font-size:16px;
}
.nav-link:hover {
  background-position: 0;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
    0.25turn,
    rgba(240, 203, 176, 1),
    rgba(255, 0, 128),
    rgba(56, 2, 155, 0)
  );
  border-image-slice: 1;
  width: var(--max-width);
}
.navbar-toggler {
  background-color: var(--bg-color2);
}

/*CAROUSEL**************************************************************************8*/
.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius:var( --border-radius-gen);
}
.img-fluid {
  box-shadow: 0 0 5px var(--gray-color) inset;
  border-radius:var( --border-radius-gen);
  width: 390px;
  height: 500px;
}
.btn-carousel {
  background-color: var(--bg-color);
  color: var(--white-color);
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all ease-in-out 300ms;
}
.btn-carousel:hover,
.btn-carousel:active {
  color: var(--white-color);
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  transform: translate(0px, -10px) scale(1.2);
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/*media************************************________________________________________________________*/

@media (max-width: 576px) {
  .p-name, .p-artist { 
    font-size:16px;
}
  .modal-dialog {
    max-width: 90%;
  }
}
/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}
@media (max-width: 767px) {
  .container {
    padding: 0 3em;
    text-align: justify;
    text-justify: inter-word;
  }
  .titles {
    padding: 0.5em;
    font-size: 2.2em;
    margin: 0.2em;
    text-shadow:var( --text-shadow-gen);
  }
  .navbar-nav .nav-item {
    border-bottom: 1px solid var(--gray-color);
    padding:5px;
  }  
  .box > img {
    width: 150%;
    height: calc(100% - 0.5vh);
  }

  .countdown #day,   .countdown #hour,   .countdown #minute,   .countdown #second {
    font-size: 20px;
  }
  .countdown-text{
    font-size:10px;
  }
  .counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
 } 
}
/*EVENIMENTE**************************************************************************************************************************************************/
.filter-btn{
  background-color: var(--bg-color);
}
.btn-buy{
  background-color: var(--bg-color2);
}
.filter-btn, .btn-buy{
  color: var(--white-color);
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer; 
}
.filter-btn:hover,
.filter-btn:active,
.filter-btn:focus,
.btn-buy:hover,
.btn-buy:active{
  background-color:var(--bg-color2);
  color: var(--white-color);
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2); 
  border:none;
}
.titles {
  text-transform: uppercase;
  color: var(--bg-color);
  padding: 0.5em;
  font-size: 3.2em;
  margin: 0.2em;
  text-shadow:var( --text-shadow-gen);
}
.titles:before, .titles:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #000;
  margin: auto;
}
.titles a {
  text-decoration: none;
  color: var(--bg-color);
}

input[type="search"] {
  font-size: 1rem;
  width: var(--max-width);
  line-height: 2;
  padding: 0.375rem 1.25rem;
  border-color: var(--bg-color);
  outline: none;
}
input[type="search"]:focus {
  transition: all 0.5s;
  box-shadow: 0 0 40px var(--bg-color);
  border-color: var(--gray-color);
  outline: none;
}
.form-control::placeholder {
  font-size: 0.95rem;
  color: var(--bg-color);
  font-style: italic;
}
.search-box{
  background-color:var(--bg-color);
}
.bi-search, .bi-calendar3, .bi-cart3{
  color:var(--white-color);
}
/*evenimente-produse per item*/
.product {
  width: calc(100% /3); 
  background-color: transparent;
  margin-bottom:15px; 
}
.img-thumbnail, .img-thumbnail_recom{
  border-radius: var(--border-radius-gen);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}
.img-thumbnail {
  width: var(--max-width);
  height: var(--max-height); 
  padding:10px;
}
.img-thumbnail_recom{
  width: 95%;
  height: 85%;
  border:3px solid var(--bg-color2); 
}
.product:hover img {
  opacity:0.8;
  transform: scale(0.95);
}
 .product:hover .d-none {
  display: inline-block !important;
}
.details-btn {
  display: block;
  background-color: var(--bg-color2);
  transition: 0.3s all;
  color: var(--white-color);
  font-style: bold;
  padding: 10px;
  border: none;
  border-radius: 10px; 
  font-size: 2.2em; 
  cursor: pointer;
  margin: 20px auto;
  border:1px solid var(--bg-color);
  box-shadow: 3px 3px 10px #1c1c1c;
}
.details-btn:hover{  
  color: var(--white-color);
}
.product:hover .details-btn {
  display: inline-block;
  opacity: 1; 
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  font-size: 12px;
  width: 100px;
  height:50px;
  text-align: center;
}
.p-name { 
  color: var(--bg-color); 
  font-size:35px;
}
.p-artist { 
  color: var(--bg-color2); 
  font-size:35px;
}
.img-thumbnail_modal {
  width: var(--max-width);
  height: 90%;
  border:3px solid var(--bg-color2);
  border-radius:var(--border-radius-gen);
}
.modal-dialog {
  max-width: 700px;
}

/*RECOMANDATE*/
.marketing { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ribbon-pop {
  background: linear-gradient(270deg, var(--bg-color2) 5.25%, var(--bg-color3) 96.68%);
  display: inline-block;
  padding: 10px 80px 10px 20px;
  color: var(--white-color);
  position: relative;
}
.ribbon-pop a{
  color: var(--white-color);
}
.ribbon-pop:after {
  content: "";
  width: 0;
  height: 0;
  top: 0;
  position: absolute;
  right: 0;
  border-right: 20px solid var(--white-color);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.show-grid [class^="col-"] {
  background-color: var(--bg-color);
}

.title-rec{
  margin-left:2.5rem;
  padding:1rem;
  letter-spacing: 2px;
  color: #d9b01b;
  text-shadow:
    -1px -1px 0 hsl(322, 83%, 52%),
    1px -1px 0 hsl(322, 83%, 52%),
    -1px 1px 0 hsl(322, 83%, 52%),
    1px 1px 0 hsl(322, 83%, 52%);
  }
/*COUNTDOWN*************************************************************************************************************************************************************/
.counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.countdown {
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-align: center;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  margin-left:20px;
}
.container_gallery {
  display: flex;
  width: var(--max-width);
  padding: 4% 2%;
  box-sizing: border-box;
  height: 50vh;
}
.box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
}
.box > img {
  width: 200%;
  height: calc(100% - 1vh);
  object-fit: cover;
  transition: 0.5s;
}
.box:hover {
  flex: 1 0 calc(50% - 4px);
}
.box:hover > img {
  width: var(--max-width);
  height: var(--max-height);
}

#day, #hour, #minute, #second, #expired {
  font-size: 4rem;
  background: linear-gradient(
    to right, 
    rgb(255, 245, 61), 
    hsl(322, 83%, 52%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.countdown-text{
  color:var(--bg-color3);
}
/*CALENDAR*********************************************************************************************************************************************/
 
/*picker*/

.form-control:focus {
  outline: none;
  border: 1px solid var(--white-color);
  box-shadow: 0 0 10px var(--bg-color);
}
#date{
  border:1px solid var(--bg-color);
}
.dropdown-menu{
  background-color:var(--bg-color)!important;
  color: var(--white-color)!important;
  border:1px solid var(--white-color)!important;
  padding:1rem!important;
}

.datepicker .datepicker-switch{
  background-color:transparent!important;
  color:var(--white-color)!important;
  border:1px solid white !important;
  padding:5px!important;
}
.table-condensed th{
  color:#e7c208;
}
.datepicker .next:hover, .datepicker .prev:hover{
  background-color: transparent!important;
}
.datepicker td.day:hover{
  background-color:#e7c208!important;
  color:var(--bg-color)!important;
}
.datepicker table tr td.active.day{
  border:1px solid var(--white-color);
  background:var(--bg-color2)!important;
}
/*table*/
.table-customize{
  background-color: var(--bg-color);
  color:var(--white-color);
}

.table_data_day, .table_data_artist {
  font-size: 28px;
  color:var(--bg-color2); 
}

.table_data_month {
  font-size: 20px;
  color:var(--bg-color); 
}
.table_btn{
  display: block;
  background-color: var(--bg-color2);
  color: var(--white-color);
  padding: 0.5rem;
  border: none;
  border-radius: 10px; 
  font-size: 12px; 
  cursor: pointer; 
  border:none;
  box-shadow: 3px 3px 10px var(--black-color); 
}
.table_btn:hover, .table_btn:focus, .table_btn:active{
  color:var(--white-color);
}
#eventsTable{
  font-size: 24px;
}
/*footer***************************************************************************************************************************************************************8*/

#footer {
  background-attachment: scroll;
  background-color: var(--bg-color);
  background-image: url("../images/bottom-3200.svg");
  background-position: top center;
  background-repeat: repeat-x;
  background-size: 3200px 460px;
  color: rgba(255, 255, 255, 0.8);
  padding: calc(460px + 6em) 0 5em 0;
  position: relative;
  text-align: center;
}

#footer:before {
  background: rgba(224, 224, 224, 0.75);
  content: "";
  height: calc(460px + 6em);
  left: 50%;
  position: absolute;
  top: 0;
  width: 1px;
  z-index: 0;
}

#footer h2 {
  color: var(--white-color);
}

#footer .copyright {
  color:var(--bg-color3);
  font-size: 0.8em;
  line-height: 1em;
  margin: 3em 0 0 0;
}

.contact_form a{
  color:var(--white-color);
  text-decoration: none;
}
.text-form{
  color:var(--white-color);
  border:1px solid var(--bg-color2);
  padding:1rem;
}
.btn-carousel2 {
  border: 1px solid var(--gray-color);
}
.btn-carousel2:focus {
  border: none;
}
.adress-description {
  padding: 1em;
}
.adress-description li {
  padding-bottom: 20px;
}
.adress-description a {
  color:var(--white-color);
}
.adress-description a:hover {
  color: var(--white-color);
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}
.error{
  padding-top:15px;
  color:var(--bg-color2);
}
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: var(--bg-color);
  border: 1px solid var(--white-color);
}
.back-to-top:focus,
.back-to-top:active {
  border: none;
}
.bi-caret-up-square-fill {
  color: #dcdcdc !important;
}

